/* @import "~antd/dist/antd.css"; */
* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* => 1rem = 10px */
  line-height: 1.6rem;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

body {
  background: #f4f4f4;
}

ul {
  list-style: none;
  padding-left: 0 !important;
}

a {
  text-decoration: none !important;
}
