/* @import "~antd/dist/antd.css"; */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pirmary-color: #ee4d2d;
  --white-color: #f4f4f4;
  --black-color: #141414;
  --text-color: #333;
  --border-color: #dbdbdb;
}

* {
  box-sizing: inherit;
}

/* => 1rem = 10px */
/* html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
} */

body {
  background: var(--white-color);
}

ul {
  list-style: none;
  padding-left: 0 !important;
}

a {
  text-decoration: none !important;
}

.padding_page {
  padding: 40 0;
}

.toastify {
  font-size: 20px;
  padding: 2px;
}
