.form_error {
    color: red;
    text-align: center;
    padding-top: 10px;
}

.kep-login-facebook.metro {
    display: inline-flex;
    align-items: center;
    box-shadow: rgb(0 0 0 / 24%) 0px 2px 2px 0px, rgb(0 0 0 / 24%) 0px 0px 1px 0px;
    padding: 10px;
    border-radius: 3px !important;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 300;
    margin-left: 15px;
    text-transform: none;
}
