.form_error {
    color: red;
    text-align: center;
    padding-top: 10px;
}

.kep-login-facebook.metro {
    display: inline-flex;
    align-items: center;
    box-shadow: rgb(0 0 0 / 24%) 0px 2px 2px 0px, rgb(0 0 0 / 24%) 0px 0px 1px 0px;
    padding: 10px;
    border-radius: 3px !important;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 300;
    margin-left: 15px;
}

/* Not use */

.login_form {
    margin-top: 15px;
}

.login_text {
    text-align: center;
    color: #141414;
}

.login_form-label {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 15px;
}

.login_text_dispatch {
    padding-bottom: 5px;
}

.register_form-input {
    padding: 10px 100px;
    border-radius: 10px;
    border: 1px solid #141414;
}

.form_button {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    border-radius: 10px;
    border: 1px solid #141414;
    padding: 10px 20px;
}

.social_login {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social_button_gg {
    padding: 10px;
    margin: 10px;
}
