.header_sideBar {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    padding: 0;
    border-right: 1px solid;
    border-bottom: 1px solid;
    padding-bottom: 15px;
    /* border-bottom-right-radius: 10px; */
}

.header_sideBar_text_a {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    padding: 0;
    border-bottom: 1px solid;
    padding-bottom: 15px;

    /* border-bottom-right-radius: 10px; */
}

.header_sideBar_img {
    border-radius: 10px;
}

.header_sideBar_text {
    border-bottom: 1px solid;
    padding-bottom: 10px;
    padding-left: 5px;
}

.header_sideBar > a > img {
    width: 100%;
    transition: all 0.5s;
}

.header_sideBar a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.493);
    padding: 10px;
    transition: all 0.5s;
}

.header_sideBar a:hover {
    color: #00bcd4;
    transform: scale(1);
}

.header_sideBar a > P {
    display: flex;
    align-items: center;
}

.header_sideBar_btn {
    border-radius: 10px;
    background-color: #00bcd4;
    padding: 12px 20px;
}

.header_sideBar a > p > svg {
    margin-right: 0.5rem;
}
