.register {
    background: #fafafa;
}

.register_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register_form-label {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
}

.register_form-text {
    display: flex;
    align-items: center;
}

.register_form-input {
    margin-left: 10px;
    border-radius: 4px;
}

.form_error {
    color: red;
}
