@media (max-width: 1023px) {
    .hide-on-mobile-tablet {
        display: none !important;
    }
}

@media (min-width: 1000px) {
    .hide-on-pc {
        display: none !important;
    }
}

/* Mobile */
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none !important;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }
    .me-auto.navbar-nav {
        display: none;
    }
}

.img-responsive {
    border-radius: 50%;
    width: 50px;
    height: 35px;
}

.header_res {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 0;
    border-radius: 10px;
}

.header_res.logout {
    background-color: red;
}
.header_name {
    color: var(--white-color);
    padding-left: 12px;
}

#collasible-nav-dropdown {
    color: var(--white-color);
}
